


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."app_status" AS ENUM (
    'APPLIED',
    'RECOMMENDED',
    'INTERVIEWING',
    'HIRED',
    'REJECTED'
);


ALTER TYPE "public"."app_status" OWNER TO "postgres";


CREATE TYPE "public"."bid_status" AS ENUM (
    'PENDING',
    'SHORTLISTED',
    'REJECTED',
    'WON'
);


ALTER TYPE "public"."bid_status" OWNER TO "postgres";


CREATE TYPE "public"."bid_submission_status" AS ENUM (
    'SUBMITTED',
    'SHORTLISTED',
    'WON',
    'LOST'
);


ALTER TYPE "public"."bid_submission_status" OWNER TO "postgres";


CREATE TYPE "public"."bidding_status" AS ENUM (
    'OPEN',
    'EVALUATING',
    'AWARDED',
    'CANCELLED'
);


ALTER TYPE "public"."bidding_status" OWNER TO "postgres";


CREATE TYPE "public"."company_tier" AS ENUM (
    'STANDARD',
    'SILVER',
    'GOLD'
);


ALTER TYPE "public"."company_tier" OWNER TO "postgres";


CREATE TYPE "public"."department_type" AS ENUM (
    'HEADQUARTER',
    'BRANCH',
    'DEPARTMENT'
);


ALTER TYPE "public"."department_type" OWNER TO "postgres";


CREATE TYPE "public"."initiative_status" AS ENUM (
    'PLANNING',
    'ON_TRACK',
    'AT_RISK',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE "public"."initiative_status" OWNER TO "postgres";


CREATE TYPE "public"."job_status" AS ENUM (
    'PENDING',
    'OPEN',
    'CLOSED'
);


ALTER TYPE "public"."job_status" OWNER TO "postgres";


CREATE TYPE "public"."kyc_status" AS ENUM (
    'PENDING',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE "public"."kyc_status" OWNER TO "postgres";


CREATE TYPE "public"."member_status" AS ENUM (
    'PENDING',
    'ACTIVE',
    'SUSPENDED'
);


ALTER TYPE "public"."member_status" OWNER TO "postgres";


CREATE TYPE "public"."member_tier" AS ENUM (
    'STANDARD',
    'PREMIUM',
    'VIP'
);


ALTER TYPE "public"."member_tier" OWNER TO "postgres";


CREATE TYPE "public"."project_category" AS ENUM (
    'DESIGN',
    'CONSTRUCTION',
    'MATERIAL',
    'CONSULTING'
);


ALTER TYPE "public"."project_category" OWNER TO "postgres";


CREATE TYPE "public"."project_status" AS ENUM (
    'PLANNING',
    'TENDERING',
    'IN_PROGRESS',
    'COMPLETED',
    'PENDING',
    'OPEN',
    'CLOSED',
    'REJECTED'
);


ALTER TYPE "public"."project_status" OWNER TO "postgres";


CREATE TYPE "public"."report_tier" AS ENUM (
    'PUBLIC',
    'STANDARD',
    'PREMIUM',
    'VIP'
);


ALTER TYPE "public"."report_tier" OWNER TO "postgres";


CREATE TYPE "public"."request_status" AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'REJECTED'
);


ALTER TYPE "public"."request_status" OWNER TO "postgres";


CREATE TYPE "public"."talent_status" AS ENUM (
    'PENDING',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE "public"."talent_status" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'SUPER_ADMIN',
    'COMPANY_ADMIN',
    'MEMBER',
    'CLIENT',
    'TALENT',
    'ADMIN_BIZLINK',
    'ADMIN_TALENT',
    'ADMIN_INSIGHTS'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."bid_submissions" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "bidding_id" "uuid",
    "company_id" "uuid",
    "bid_amount" numeric(15,2) NOT NULL,
    "currency" character varying(3) NOT NULL,
    "status" "public"."bid_submission_status" DEFAULT 'SUBMITTED'::"public"."bid_submission_status",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."bid_submissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."biddings" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "project_id" "uuid",
    "title" character varying(255) NOT NULL,
    "requirements" "text" NOT NULL,
    "deadline" timestamp with time zone NOT NULL,
    "status" "public"."bidding_status" DEFAULT 'OPEN'::"public"."bidding_status",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."biddings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."bids" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "project_id" "uuid",
    "bidder_id" "uuid",
    "bid_amount" numeric,
    "proposal_text" "text",
    "status" "public"."bid_status" DEFAULT 'PENDING'::"public"."bid_status",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."bids" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."companies" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "name" character varying(255) NOT NULL,
    "country" character varying(2) NOT NULL,
    "tax_code" character varying(50) NOT NULL,
    "kyc_status" "public"."kyc_status" DEFAULT 'PENDING'::"public"."kyc_status",
    "tier" "public"."company_tier" DEFAULT 'STANDARD'::"public"."company_tier",
    "capabilities" "jsonb",
    "rating" numeric(3,2) DEFAULT 0.00,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."companies" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."data_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "member_id" "uuid",
    "title" "text" NOT NULL,
    "content" "text" NOT NULL,
    "status" "public"."request_status" DEFAULT 'PENDING'::"public"."request_status",
    "result_file_url" "text",
    "admin_note" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."data_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."department_budgets" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "plan_id" "uuid",
    "department_name" "text" NOT NULL,
    "allocated_percentage" numeric DEFAULT 0,
    "spent_percentage" numeric DEFAULT 0,
    "color_code" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."department_budgets" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."departments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "type" "public"."department_type" DEFAULT 'DEPARTMENT'::"public"."department_type",
    "parent_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."departments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."documents" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "project_id" "uuid",
    "uploader_id" "uuid",
    "file_name" character varying(255) NOT NULL,
    "s3_key" character varying(500) NOT NULL,
    "file_type" character varying(50) NOT NULL,
    "is_watermarked" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."employees" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "code" "text" NOT NULL,
    "name" "text" NOT NULL,
    "role" "text" NOT NULL,
    "department_id" "uuid",
    "manager_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."employees" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."initiative_comments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "initiative_id" "uuid",
    "sender_name" "text" NOT NULL,
    "sender_role" "text" NOT NULL,
    "content" "text" NOT NULL,
    "channel" "text" DEFAULT 'TEAM'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."initiative_comments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."initiatives" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "plan_id" "uuid",
    "title" "text" NOT NULL,
    "status" "public"."initiative_status" DEFAULT 'PLANNING'::"public"."initiative_status",
    "progress" integer DEFAULT 0,
    "owner_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "department_id" "uuid",
    "lead_id" "uuid",
    "start_date" "date",
    "end_date" "date",
    CONSTRAINT "initiatives_progress_check" CHECK ((("progress" >= 0) AND ("progress" <= 100)))
);


ALTER TABLE "public"."initiatives" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."jobs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "member_id" "uuid",
    "title" "text" NOT NULL,
    "description" "text",
    "requirements" "text",
    "salary_range" "text",
    "status" "public"."job_status" DEFAULT 'PENDING'::"public"."job_status",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."jobs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."members" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "company_name" "text" NOT NULL,
    "tax_code" "text",
    "representative" "text" NOT NULL,
    "phone" "text",
    "email" "text",
    "tier" "public"."member_tier" DEFAULT 'STANDARD'::"public"."member_tier",
    "status" "public"."member_status" DEFAULT 'PENDING'::"public"."member_status",
    "address" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."members" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "member_id" "uuid",
    "title" "text" NOT NULL,
    "content" "text",
    "link_url" "text",
    "is_read" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."projects" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "client_company_id" "uuid",
    "title" character varying(255) NOT NULL,
    "status" "public"."project_status" DEFAULT 'PLANNING'::"public"."project_status",
    "budget" numeric(15,2),
    "currency" character varying(3) DEFAULT 'VND'::character varying NOT NULL,
    "location" character varying(255),
    "start_date" "date",
    "end_date" "date",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "member_id" "uuid",
    "category" "text",
    "budget_max" numeric,
    "description" "text"
);


ALTER TABLE "public"."projects" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."reports" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "category" "text" DEFAULT 'MARKET_RESEARCH'::"text",
    "file_url" "text",
    "cover_image_url" "text",
    "access_tier" "public"."report_tier" DEFAULT 'STANDARD'::"public"."report_tier",
    "downloads" integer DEFAULT 0,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."reports" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."strategic_periods" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "start_year" integer NOT NULL,
    "end_year" integer NOT NULL,
    "vision" "text",
    "mission" "text",
    "long_term_goals" "text",
    "mid_term_goals" "text",
    "short_term_goals" "text",
    "is_active" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."strategic_periods" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."strategic_plans" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "year" integer NOT NULL,
    "target_gmv" numeric DEFAULT 0,
    "target_members" integer DEFAULT 0,
    "target_experts" integer DEFAULT 0,
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "period_id" "uuid"
);


ALTER TABLE "public"."strategic_plans" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."talent_applications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "job_id" "uuid",
    "talent_id" "uuid",
    "status" "public"."app_status" DEFAULT 'APPLIED'::"public"."app_status",
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."talent_applications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."talent_profiles" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "title" character varying(100) NOT NULL,
    "skills" "jsonb",
    "yoe" integer DEFAULT 0 NOT NULL,
    "is_open_to_work" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."talent_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."talents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "full_name" "text" NOT NULL,
    "title" "text" NOT NULL,
    "email" "text",
    "phone" "text",
    "skills" "text",
    "experience_years" integer DEFAULT 0,
    "expected_salary" "text",
    "bio" "text",
    "status" "public"."talent_status" DEFAULT 'PENDING'::"public"."talent_status",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "member_id" "uuid",
    "admin_note" "text"
);


ALTER TABLE "public"."talents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" NOT NULL,
    "email" character varying(255) NOT NULL,
    "role" "public"."user_role" DEFAULT 'MEMBER'::"public"."user_role" NOT NULL,
    "company_id" "uuid",
    "is_active" boolean DEFAULT true,
    "last_login" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."users" OWNER TO "postgres";


ALTER TABLE ONLY "public"."bid_submissions"
    ADD CONSTRAINT "bid_submissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."biddings"
    ADD CONSTRAINT "biddings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."bids"
    ADD CONSTRAINT "bids_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."companies"
    ADD CONSTRAINT "companies_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."companies"
    ADD CONSTRAINT "companies_tax_code_key" UNIQUE ("tax_code");



ALTER TABLE ONLY "public"."data_requests"
    ADD CONSTRAINT "data_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."department_budgets"
    ADD CONSTRAINT "department_budgets_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."departments"
    ADD CONSTRAINT "departments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_code_key" UNIQUE ("code");



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."initiative_comments"
    ADD CONSTRAINT "initiative_comments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."initiatives"
    ADD CONSTRAINT "initiatives_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."jobs"
    ADD CONSTRAINT "jobs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."members"
    ADD CONSTRAINT "members_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."members"
    ADD CONSTRAINT "members_tax_code_key" UNIQUE ("tax_code");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."reports"
    ADD CONSTRAINT "reports_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."strategic_periods"
    ADD CONSTRAINT "strategic_periods_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."strategic_plans"
    ADD CONSTRAINT "strategic_plans_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."strategic_plans"
    ADD CONSTRAINT "strategic_plans_year_key" UNIQUE ("year");



ALTER TABLE ONLY "public"."talent_applications"
    ADD CONSTRAINT "talent_applications_job_id_talent_id_key" UNIQUE ("job_id", "talent_id");



ALTER TABLE ONLY "public"."talent_applications"
    ADD CONSTRAINT "talent_applications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."talent_profiles"
    ADD CONSTRAINT "talent_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."talent_profiles"
    ADD CONSTRAINT "talent_profiles_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."talents"
    ADD CONSTRAINT "talents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



CREATE OR REPLACE TRIGGER "set_updated_at_bid_submissions" BEFORE UPDATE ON "public"."bid_submissions" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_biddings" BEFORE UPDATE ON "public"."biddings" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_companies" BEFORE UPDATE ON "public"."companies" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_documents" BEFORE UPDATE ON "public"."documents" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_projects" BEFORE UPDATE ON "public"."projects" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_talent_profiles" BEFORE UPDATE ON "public"."talent_profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_users" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."bid_submissions"
    ADD CONSTRAINT "bid_submissions_bidding_id_fkey" FOREIGN KEY ("bidding_id") REFERENCES "public"."biddings"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bid_submissions"
    ADD CONSTRAINT "bid_submissions_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."biddings"
    ADD CONSTRAINT "biddings_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bids"
    ADD CONSTRAINT "bids_bidder_id_fkey" FOREIGN KEY ("bidder_id") REFERENCES "public"."members"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bids"
    ADD CONSTRAINT "bids_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."data_requests"
    ADD CONSTRAINT "data_requests_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "public"."members"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."department_budgets"
    ADD CONSTRAINT "department_budgets_plan_id_fkey" FOREIGN KEY ("plan_id") REFERENCES "public"."strategic_plans"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."departments"
    ADD CONSTRAINT "departments_parent_id_fkey" FOREIGN KEY ("parent_id") REFERENCES "public"."departments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_uploader_id_fkey" FOREIGN KEY ("uploader_id") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_department_id_fkey" FOREIGN KEY ("department_id") REFERENCES "public"."departments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."employees"
    ADD CONSTRAINT "employees_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "public"."employees"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."initiative_comments"
    ADD CONSTRAINT "initiative_comments_initiative_id_fkey" FOREIGN KEY ("initiative_id") REFERENCES "public"."initiatives"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."initiatives"
    ADD CONSTRAINT "initiatives_department_id_fkey" FOREIGN KEY ("department_id") REFERENCES "public"."departments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."initiatives"
    ADD CONSTRAINT "initiatives_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "public"."employees"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."initiatives"
    ADD CONSTRAINT "initiatives_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."initiatives"
    ADD CONSTRAINT "initiatives_plan_id_fkey" FOREIGN KEY ("plan_id") REFERENCES "public"."strategic_plans"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."jobs"
    ADD CONSTRAINT "jobs_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "public"."members"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "public"."members"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_client_company_id_fkey" FOREIGN KEY ("client_company_id") REFERENCES "public"."companies"("id");



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "public"."members"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."strategic_plans"
    ADD CONSTRAINT "strategic_plans_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."strategic_plans"
    ADD CONSTRAINT "strategic_plans_period_id_fkey" FOREIGN KEY ("period_id") REFERENCES "public"."strategic_periods"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."talent_applications"
    ADD CONSTRAINT "talent_applications_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."jobs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."talent_applications"
    ADD CONSTRAINT "talent_applications_talent_id_fkey" FOREIGN KEY ("talent_id") REFERENCES "public"."talents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."talent_profiles"
    ADD CONSTRAINT "talent_profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."talents"
    ADD CONSTRAINT "talents_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "public"."members"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Admin full access apps" ON "public"."talent_applications" TO "authenticated" USING (true);



CREATE POLICY "Admin full access bids" ON "public"."bids" TO "authenticated" USING (true);



CREATE POLICY "Admin full access data_requests" ON "public"."data_requests" TO "authenticated" USING (true);



CREATE POLICY "Admin full access department_budgets" ON "public"."department_budgets" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['SUPER_ADMIN'::"public"."user_role", 'ADMIN_BIZLINK'::"public"."user_role", 'ADMIN_TALENT'::"public"."user_role", 'ADMIN_INSIGHTS'::"public"."user_role"]))))));



CREATE POLICY "Admin full access departments" ON "public"."departments" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['SUPER_ADMIN'::"public"."user_role", 'ADMIN_BIZLINK'::"public"."user_role", 'ADMIN_TALENT'::"public"."user_role", 'ADMIN_INSIGHTS'::"public"."user_role"]))))));



CREATE POLICY "Admin full access employees" ON "public"."employees" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['SUPER_ADMIN'::"public"."user_role", 'ADMIN_BIZLINK'::"public"."user_role", 'ADMIN_TALENT'::"public"."user_role", 'ADMIN_INSIGHTS'::"public"."user_role"]))))));



CREATE POLICY "Admin full access initiatives" ON "public"."initiatives" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['SUPER_ADMIN'::"public"."user_role", 'ADMIN_BIZLINK'::"public"."user_role", 'ADMIN_TALENT'::"public"."user_role", 'ADMIN_INSIGHTS'::"public"."user_role"]))))));



CREATE POLICY "Admin full access jobs" ON "public"."jobs" TO "authenticated" USING (true);



CREATE POLICY "Admin full access members" ON "public"."members" TO "authenticated" USING (true);



CREATE POLICY "Admin full access notifications" ON "public"."notifications" TO "authenticated" USING (true);



CREATE POLICY "Admin full access projects" ON "public"."projects" TO "authenticated" USING (true);



CREATE POLICY "Admin full access reports" ON "public"."reports" TO "authenticated" USING (true);



CREATE POLICY "Admin full access strategic_periods" ON "public"."strategic_periods" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['SUPER_ADMIN'::"public"."user_role", 'ADMIN_BIZLINK'::"public"."user_role", 'ADMIN_TALENT'::"public"."user_role", 'ADMIN_INSIGHTS'::"public"."user_role"]))))));



CREATE POLICY "Admin full access strategic_plans" ON "public"."strategic_plans" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = ANY (ARRAY['SUPER_ADMIN'::"public"."user_role", 'ADMIN_BIZLINK'::"public"."user_role", 'ADMIN_TALENT'::"public"."user_role", 'ADMIN_INSIGHTS'::"public"."user_role"]))))));



CREATE POLICY "Admin full access talents" ON "public"."talents" TO "authenticated" USING (true);



CREATE POLICY "Cho ph├⌐p admin full quyß╗ün comment" ON "public"."initiative_comments" TO "authenticated" USING (true);



CREATE POLICY "Cho ph├⌐p kh├ích v├úng lai tß║ío mß╗¢i C├┤ng ty" ON "public"."companies" FOR INSERT TO "authenticated", "anon" WITH CHECK (true);



CREATE POLICY "Cho ph├⌐p ─æß╗ìc th├┤ng tin c├┤ng ty" ON "public"."companies" FOR SELECT USING (true);



CREATE POLICY "Ng╞░ß╗¥i d├╣ng tß╗▒ cß║¡p nhß║¡t profile" ON "public"."users" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Ng╞░ß╗¥i d├╣ng tß╗▒ tß║ío profile cß╗ºa m├¼nh" ON "public"."users" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Ng╞░ß╗¥i d├╣ng xem profile cß╗ºa m├¼nh" ON "public"."users" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "id"));



ALTER TABLE "public"."bid_submissions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."biddings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."bids" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."companies" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."data_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."department_budgets" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."departments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."documents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."employees" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."initiative_comments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."initiatives" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."jobs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."members" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."projects" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."reports" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."strategic_periods" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."strategic_plans" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."talent_applications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."talent_profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."talents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";































































































































































GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";


















GRANT ALL ON TABLE "public"."bid_submissions" TO "anon";
GRANT ALL ON TABLE "public"."bid_submissions" TO "authenticated";
GRANT ALL ON TABLE "public"."bid_submissions" TO "service_role";



GRANT ALL ON TABLE "public"."biddings" TO "anon";
GRANT ALL ON TABLE "public"."biddings" TO "authenticated";
GRANT ALL ON TABLE "public"."biddings" TO "service_role";



GRANT ALL ON TABLE "public"."bids" TO "anon";
GRANT ALL ON TABLE "public"."bids" TO "authenticated";
GRANT ALL ON TABLE "public"."bids" TO "service_role";



GRANT ALL ON TABLE "public"."companies" TO "anon";
GRANT ALL ON TABLE "public"."companies" TO "authenticated";
GRANT ALL ON TABLE "public"."companies" TO "service_role";



GRANT ALL ON TABLE "public"."data_requests" TO "anon";
GRANT ALL ON TABLE "public"."data_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."data_requests" TO "service_role";



GRANT ALL ON TABLE "public"."department_budgets" TO "anon";
GRANT ALL ON TABLE "public"."department_budgets" TO "authenticated";
GRANT ALL ON TABLE "public"."department_budgets" TO "service_role";



GRANT ALL ON TABLE "public"."departments" TO "anon";
GRANT ALL ON TABLE "public"."departments" TO "authenticated";
GRANT ALL ON TABLE "public"."departments" TO "service_role";



GRANT ALL ON TABLE "public"."documents" TO "anon";
GRANT ALL ON TABLE "public"."documents" TO "authenticated";
GRANT ALL ON TABLE "public"."documents" TO "service_role";



GRANT ALL ON TABLE "public"."employees" TO "anon";
GRANT ALL ON TABLE "public"."employees" TO "authenticated";
GRANT ALL ON TABLE "public"."employees" TO "service_role";



GRANT ALL ON TABLE "public"."initiative_comments" TO "anon";
GRANT ALL ON TABLE "public"."initiative_comments" TO "authenticated";
GRANT ALL ON TABLE "public"."initiative_comments" TO "service_role";



GRANT ALL ON TABLE "public"."initiatives" TO "anon";
GRANT ALL ON TABLE "public"."initiatives" TO "authenticated";
GRANT ALL ON TABLE "public"."initiatives" TO "service_role";



GRANT ALL ON TABLE "public"."jobs" TO "anon";
GRANT ALL ON TABLE "public"."jobs" TO "authenticated";
GRANT ALL ON TABLE "public"."jobs" TO "service_role";



GRANT ALL ON TABLE "public"."members" TO "anon";
GRANT ALL ON TABLE "public"."members" TO "authenticated";
GRANT ALL ON TABLE "public"."members" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."projects" TO "anon";
GRANT ALL ON TABLE "public"."projects" TO "authenticated";
GRANT ALL ON TABLE "public"."projects" TO "service_role";



GRANT ALL ON TABLE "public"."reports" TO "anon";
GRANT ALL ON TABLE "public"."reports" TO "authenticated";
GRANT ALL ON TABLE "public"."reports" TO "service_role";



GRANT ALL ON TABLE "public"."strategic_periods" TO "anon";
GRANT ALL ON TABLE "public"."strategic_periods" TO "authenticated";
GRANT ALL ON TABLE "public"."strategic_periods" TO "service_role";



GRANT ALL ON TABLE "public"."strategic_plans" TO "anon";
GRANT ALL ON TABLE "public"."strategic_plans" TO "authenticated";
GRANT ALL ON TABLE "public"."strategic_plans" TO "service_role";



GRANT ALL ON TABLE "public"."talent_applications" TO "anon";
GRANT ALL ON TABLE "public"."talent_applications" TO "authenticated";
GRANT ALL ON TABLE "public"."talent_applications" TO "service_role";



GRANT ALL ON TABLE "public"."talent_profiles" TO "anon";
GRANT ALL ON TABLE "public"."talent_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."talent_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."talents" TO "anon";
GRANT ALL ON TABLE "public"."talents" TO "authenticated";
GRANT ALL ON TABLE "public"."talents" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































